.bundle/
log/*.log
pkg/
tmp/
config/secrets.yml
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/log/*.log.*
test/dummy/tmp/
test/dummy/.sass-cache
test/dummy/config/secrets.yml

