<div class="container">
 <footer>
  <small>
   <%= Rails.application.app_info %>
  </small>
  <nav>
   <ul>
    <li><%= link_to 'About', '#' %></li>
    <li><%= link_to 'Contact', '#' %></li>
   </ul>
  </nav>
 </footer>
 <%= debug(params) if Rails.env.development? %>
</div>
