<p>Hello <%= @data[:user].name %>,</p>

<p>Welcome to <%= Rails.application.app_name %>!  Before you can begin to use the site, you need to click on the link below to activate your account.</p>

<p><%= link_to 'Activate', edit_account_activation_url(@data[:user].activation_token, email: @data[:user].email) %></p>
<br>

