<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Action Security Listing</h4>
  </div>
  <%= render partial: 'list', locals: { api_path: api_security_path } %>
</div>
