

<div class="jumbotron">
  <h1><%= Rails.application.app_info %></h1>
  <p>An <%= link_to "Incline v#{Incline::VERSION}", 'https://www.barkerest.com/incline' %> application.</p>
</div>

<% require 'byebug' %>


<% byebug %>
