<table id="dt-users" class="table" style="width: 100%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created</th>
      <th>Comments</th>
      <th></th>
    </tr>
  </thead>
</table>

<% provide :scripts do %>
<script type="text/javascript">
  //<![CDATA[
  $(function() {
    $('#dt-users').DataTable({
      dom: '<"panel-body"<"col-sm-6 col-sm-offset-6"fr>>t<"panel-body"<"col-sm-6"i><"col-sm-6"p>>',
      ajax: {
          url: '<%= api_path %>',
          type: 'POST'
      },
      columns: [
        {
          data: 'name',
          orderable: true,
          searchable: true
        },
        {
          data: 'email',
          orderable: true,
          searchable: true
        },
        {
          data: 'created_at',
          orderable: true,
          searchable: true
        },
        {
          data: 'comments',
          orderable: false,
          searchable: true
        },
        {
          orderable: false,
          searchable: false,
          data: function (row, type, set, meta) {
            if (type === 'display')
            {
              var ret = '<div class="text-right">';
              var drop = row.show_disable || row.show_enable || row.show_promote || row.show_demote || row.show_delete;

              ret += '<a href="' + row.DT_Path + '" title="Details" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-zoom-in"></i></a>';

              if (drop) {
                  ret += '&nbsp;<div class="btn-group">';
                  if (row.show_edit) {
                      ret += '<a href="' + row.DT_Path + '/edit" title="Edit" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>';
                  } else {
                      ret += '<a href="javascript:void(0)" title="Options" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-star"></i></a>';
                  }
                  ret += '<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button><ul class="dropdown-menu">'

                  if (row.show_promote) {
                      ret += '<li><a href="' + row.DT_Path + '/promote" title="Promote to administrator" data-method="patch">Promote</a></li>';
                  } else if (row.show_demote) {
                      ret += '<li><a href="' + row.DT_Path + '/demote" title="Demote from administrator" data-method="patch">Demote</a></li>';
                  }

                  if (row.show_disable) {
                      ret += '<li><a href="' + row.DT_Path + '/disable" title="Disable">Disable</a></li>';
                  } else if (row.show_enable) {
                      ret += '<li><a href="' + row.DT_Path + '/enable" title="Enable" data-method="patch">Enable</a></li>';
                  }

                  if (row.show_delete) {
                      ret += '<li role="separator" class="divider"></li><li><a href="' + row.DT_Path + '" title="Remove" data-method="delete" data-confirm="Are you sure you want to remove this user?">Remove</a></li>';
                  }

                  ret += '</ul></div>';
              } else {
                  if (row.show_edit) {
                      ret += '&nbsp;<a href="' + row.DT_Path + '/edit" title="Edit" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>';
                  }
              }

              ret += '</div>';

              return ret;
            } else {
              return row.DT_Path;
            }
          }
        }
      ],
      responsive: true,
      serverSide: true
    });
  });
  //]]>
</script>
<% end %>
