<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title"><%= plural_table_name.titleize %></h4>
  </div>
  <%%= render partial: 'list', locals: { api_path: api_<%= plural_table_name %>_path } %>
</div>
